<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<div class="container">
			<h2>Results:</h2>

			<table class="table">
				<tr>
					<th>first_name</th>
					<th>last_name</th>
					<th>company_name</th>
					<th>address</th>
					<th>city</th>
					<th>county</th>
					<th>state</th>
					<th>zip</th>
					<th>phone1</th>
					<th>phone2</th>
					<th>email</th>
					<th>web</th>
				</tr>
				<% results.forEach(function(r) { %>
					<tr>
						<td><%= r.first_name %></td>
						<td><%= r.last_name %></td>
						<td><%= r.company_name %></td>
						<td><%= r.address %></td>
						<td><%= r.city %></td>
						<td><%= r.county %></td>
						<td><%= r.state %></td>
						<td><%= r.zip %></td>
						<td><%= r.phone1 %></td>
						<td><%= r.phone2 %></td>
						<td><a href="mailto:<%= r.email %>"><%= r.email %></a></td>
						<td><a href="<%= r.web %>"><%= r.web %></a></td>
					</tr>
				<% }) %>
			</table>
		</div>
	</body>
</html>
